<div class="comment-form">
  <h3>COMMENTS</h3>
  <%= form_with(model: [ @sauce, @sauce.comments.build ], local: true) do |form| %>
    <div class="commenter">
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </div>
    <div class="comment-body">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
    <div class="submit-button">
      <%= form.submit %>
    </div>
  <% end %>
</div>
