<div class="container" id="user-profile-page">
  <div class="row my-2">
    <div class="col-md-3 m-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <%= link_to 'Account', user_path(current_user), class: 'text-dark' %>
        </li>
        <li class="list-group-item list-group-item-action disabled">
          <%= link_to 'Favorites', user_path(current_user), class: 'text-dark' %>
        </li>
        <li class="list-group-item list-group-item-action disabled">
          <%= link_to 'Reviews', user_path(current_user), class: 'text-dark' %>
        </li>
        <li class="list-group-item list-group-item-action disabled">
          <%= link_to 'Security', user_path(current_user), class: 'text-dark' %>
        </li>
      </ul>
    </div>
    <div class="col-md-8 m-2 text-center bg-light">
      <h3 id="header">ACCOUNT</h3>
      <div class="row py-4">
        <div class="col">
          <%= image_tag 'icons8-contacts', width: '200' %>
          <div class="py-2" id="username">
            <%= @user.username %>
          </div>
        </div>
        <div class="col d-flex align-items-center">
          <div class="btn-group-vertical mr-auto">
            <%= link_to 'Upload Avatar', nil, class: 'btn btn-outline-dark my-2 rounded disabled' %>
            <%= link_to 'Delete Avatar', nil, class: 'btn btn-secondary my-2 rounded disabled' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
