
  <%= form_with model: @sauce, class: 'needs-validation', id: 'sauce-form', data: { validate: sauces_validate_path, model: 'sauce' } do |sauce| %>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_field :name, placeholder: 'Name', class: 'form-control', id: 'name' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_area :description, placeholder: 'Description', class: 'form-control', id: 'description', rows: '12' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_field :pepper, placeholder: 'Pepper', class: 'form-control', id: 'pepper' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_area :ingredients, placeholder: 'Ingredients', class: 'form-control', id: 'ingredients' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_field :brand, placeholder: 'Brand', class: 'form-control', id: 'brand' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= sauce.text_field :origin, placeholder: 'Origin', class: 'form-control', id: 'origin' %>
    </div>
    <div class="form-group pt-3">
      <%= sauce.file_field :image, class: 'form-control-file', id: 'image-upload' %>
    </div>
    <%= sauce.submit 'Submit', class: 'btn btn-secondary mt-3', id: 'submit-form' %>
  <% end %>
