<div id="sauce-form">
  <%= form_with model: @sauce, local: true do |sauce| %>
    <div class="form-group my-4">
      <%= sauce.text_field :name, placeholder: 'Name', class: 'form-control', id: 'name' %>
      <% if @sauce.errors.key?('name') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:name].join(' and ').prepend('Name ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.text_area :description, placeholder: 'Description', class: 'form-control', id: 'description', rows: '12' %>
      <% if @sauce.errors.key?('description') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:description].join(' and ').prepend('Description ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.text_field :pepper, placeholder: 'Pepper', class: 'form-control', id: 'pepper' %>
      <% if @sauce.errors.key?('pepper') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:pepper].join(' and ').prepend('Pepper ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.text_area :ingredients, placeholder: 'Ingredients', class: 'form-control', id: 'ingredients' %>
      <% if @sauce.errors.key?('ingredients') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:ingredients].join(' and ').prepend('Ingredients ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.text_field :brand, placeholder: 'Brand', class: 'form-control', id: 'brand' %>
      <% if @sauce.errors.key?('brand') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:brand].join(' and ').prepend('Brand ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.text_field :origin, placeholder: 'Origin', class: 'form-control', id: 'origin' %>
      <% if @sauce.errors.key?('origin') %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:origin].join(' and ').prepend('Origin ').concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group my-4">
      <%= sauce.file_field :image, class: 'form-control-file', id: 'image-upload' %>
    </div>
    <%= sauce.submit 'Submit', class: 'btn btn-secondary', id: 'submit-form' %>
  <% end %>
</div>
