<div class="sauce-form" id="sauce-form">
  <%= form_with model: @sauce, local: true do |sauce| %>
    <div class="form-group">
      <%= sauce.label :name %>
      <%= sauce.text_field :name, class: 'form-control', id: 'name' %>
      <% if @sauce.errors.key?("name") %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:name].join(' and ').prepend("Name ").concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= sauce.label :summary %>
      <%= sauce.text_area :summary, class: 'form-control', id: 'summary', rows: '6' %>
      <% if @sauce.errors.key?("summary") %>
        <div class="invalid-feedback">
          <%= @sauce.errors[:summary].join(' and ').prepend("Summary ").concat('.') %>
        </div>
      <% end %>
    </div>
    <div class="form-group">
      <%= sauce.label :image %>
      <%= sauce.file_field :image, class: 'form-control-file', id: 'image_upload' %>
    </div>
    <%= sauce.submit 'Submit', class: 'btn btn-secondary', id: 'submit' %>
  <% end %>
</div>
