<% @sauces.each do | sauce | %>
  <div class="card border-secondary my-3 bg-light" id="card">
    <div class="row no-gutters">
      <div class="col-sm-2 d-flex align-items-center my-3 mx-auto d-block justify-content-center">
        <%= link_to image_tag(default_image?(sauce),  size: '120x175', id:'image'), sauce_path(sauce) %>
      </div>
      <div class="col-lg">
        <div class="card-body text-dark d-flex flex-column h-100">
          <h5 class="card-title" id="name"><%= link_to sauce.name.truncate(64), sauce_path(sauce), class: 'text-dark' %></h5>
          <p class="card-text" id="description"><%= sauce.description.truncate(250) %></p>
          <% if sauce.reviews.exists? %>
            <div class="align-self-end mt-auto" id="rating-info">
              <%= image_tag('rating_0.svg', size: '120x75', class: 'img-fluid', id: 'rating-bottle') %>
              <span class="text-muted align-bottom ml-1" id="average-rating">(<%= sauce.average_rating %>)</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
