<div class="sauce-display-page-content">
<div class="post container">
  <div class="post_body">
    <div class="sauce-name">
      <h2><%= @sauce.name %></h2>
    </div>
    <div class="sauce-summary">
      <p><%= @sauce.summary %></p>
    </div>
    <div class="sauce-heat">
      <p>HEAT:</p>
      <%= @sauce.heat %>
    </div>
    <div class="sauce-flavor">
      <p>FLAVOR:</p>
      <%= @sauce.flavor %>
    <div class="sauce-rating">
      <p>RATING:</p>
      <p><%= @sauce.rating %></p>
    </div>
    <div class="edit-sauce">
      <%= link_to 'Edit Sauce', edit_sauce_path(@sauce) %>
    </div>
  </div>
  <div class="comments">
    <%= render 'comments/comment' %>
    <%= render 'comments/form' %>
  </div>
</div>
</div>
</div>
