<% @sauces.each do | sauce | %>
  <div class="sauce card border-secondary my-3" id="card">
    <div class="row no-gutters">
      <div class="col-sm-2 d-flex align-items-center">
        <%= link_to image_tag(default_image?(sauce), class: "mx-auto d-block", size: '120x175'), sauce_path(sauce) %>
      </div>
      <div class="col-lg">
        <div class="card-body text-dark">
          <h5 class="card-title" id="name"><%= link_to sauce.name, sauce_path(sauce), class: 'text-dark' %></h5>
          <p class="card-text" id="summary"><%= sauce.summary.truncate(250) %></p>
          <ul class="list-inline">
            <li class="list-inline-item heat">Heat: <%= sauce.heat %></li>
            <li class="list-inline-item flavor">Flavor: <%= sauce.flavor %></li>
            <li class="list-inline-item rating">Rating: <%= sauce.rating %></li>
          </ul>
          <p class="card-text comments">Added <%= sauce.created_at.strftime("%m/%d/%Y") %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
