<div class="container" id="sauce-display-page">
  <div class="row my-2">
    <div class="col-md-4 d-flex flex-column">
      <div class="align-self-center">
        <%= image_tag default_image?(@sauce), width: "200", class: "img-fluid", id: "image" %>
      </div>
      <% if @sauce.reviews.exists? %>
        <div class="d-flex justify-content-center align-items-center pb-4" id="rating-overview">
          <%= image_tag('rating_0.svg', size: '120x75', class: 'img-fluid ml-5', id: 'rating-bottle') %>
          <span class="text-muted p-2" id="average-rating">(<%= @sauce.average_rating %>)</span>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="border-bottom" id="name">
        <h2><%= @sauce.name %></h2>
      </div>
      <div class="my-2" id="description">
        <%= simple_format @sauce.description %>
      </div>
      <div class="my-2" id="pepper">
        <h4>Pepper</h4>
        <%= simple_format @sauce.pepper %>
      </div>
      <div class="my-2" id="brand">
        <h4>Brand</h4>
        <%= simple_format @sauce.brand %>
      </div>
      <div class="my-2" id="ingredients">
        <h4>Ingredients</h4>
        <%= simple_format @sauce.ingredients %>
      </div>
      <div class="my-2" id="origin">
        <h4>Origin</h4>
        <%= simple_format @sauce.origin %>
      </div>
      <div id="edit-controls">
        <%= link_to 'Edit Sauce', edit_sauce_path(@sauce), class: 'btn btn-secondary my-2' %>
      </div>
    </div>
  </div>
  <!-- reviews section -->
  <div id="reviews-section">
    <h3 class="border-bottom">Reviews</h3>
    <%= render_reviews %>
  </div>
</div>
