<div id="contact-section">
<h4 class="border-bottom pb-2 w-50">CONTACT</h4>
  <div class="row">
    <div class="col-md pb-4">
      <p>If you have any feature requests, ideas, general thoughts, or are experiencing any issues, please contact me.</p>
      <p>You can also find me on LinkedIn and GitHub.</p>
      <%= link_to image_tag('icons8-linkedin.svg', class: 'ml-n2', alt: 'LinkedIn', size: '64x64'), 'https://www.linkedin.com/in/stevemomcilovic/'  %>
      <%= link_to image_tag('icons8-github.svg', alt: 'GitHub', size: '64x64'), 'https://github.com/jukafah' %>
    </div>
    <div class="col-md pb-4">
      <%= form_for :message do |msg| %>
        <div class="form-group">
          <%= msg.text_field :name, placeholder: 'YOUR NAME', class: 'form-control', id: 'name' %>
        </div>
        <div class="form-group">
          <%= msg.text_field :email, placeholder: 'YOUR E-MAIL ADDRESS', class: 'form-control', id: 'email' %>
        </div>
        <div class="form-group">
          <%= msg.text_area :body, placeholder: 'YOUR MESSAGE', class:'form-control', rows: '6', id: 'body' %>
        </div>
        <%= msg.submit 'SUBMIT', class: 'btn btn-secondary', id: 'submit' %>
      <% end %>
    </div>
  </div>
</div>
