
  <%= form_with model: [@sauce, @review], class: 'needs-validation', id: 'review-form', data: { validate: reviews_validate_path, model: 'review' } do |review| %>
    <div class="form-group pt-3 position-relative">
      <%= review.text_field :user, placeholder: 'User', class: 'form-control', id: 'user' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= review.number_field :rating, placeholder: 'Rating', class: 'form-control', id: 'rating' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= review.text_field :headline, placeholder: 'Headline', class: 'form-control', id: 'headline' %>
    </div>
    <div class="form-group pt-3 position-relative">
      <%= review.text_area :body, placeholder: 'Tell us what you think...', rows: 6, class: 'form-control', id: 'body' %>
    </div>
    <%= review.submit 'Submit', class: 'btn btn-secondary mt-3', id: 'submit-form' %>
  <% end %>
