<div class="submit-review">
  <%= form_with(model: [ @sauce, @sauce.reviews.build ], local: true) do |form| %>
    <div class="user">
      <%= form.label :user %><br>
      <%= form.text_field :user %>
    </div>
    <div class="body">
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </div>
    <div class="rating">
      <%= form.label :rating %>
      <%= form.number_field :rating %>
    </div>
    <div class="submit">
      <%= form.submit %>
    </div>
  <% end %>
</div>
