<div class="row" id="reviews-section">
  <div class="col-sm" id="rating-overview">
    <div class="d-flex justify-content-between py-2">
      <div>
        <%= image_tag('rating_0.svg', width: '100', class: 'img-fluid', id: 'rating-bottles') %>
      </div>
      <div class="text-muted" id="average-rating"><%= average_of(@sauce.reviews) %> out of 5 (<%= pluralize(@sauce.reviews.count, 'review')%>)</div>
    </div>
    <table class="table-borderless table-hover table-sm w-100 my-2">
      <tbody>
        <tr id="5-rating-summary">
          <td id="number">5</td>
          <td class="align-text-center"><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid', id: 'rating-bottles') %></td>
          <td class="text-right" id="percent-of-reviews"><%= percent_of(@sauce.reviews, 5) %>%</td>
        </tr>
        <tr id="4-rating-summary">
          <td id="number">4</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid', id: 'rating-bottles') %></td>
          <td class="text-right" id="percent-of-reviews"><%= percent_of(@sauce.reviews, 4) %>%</td>
        </tr>
        <tr id="3-rating-summary">
          <td id="number">3</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid', id: 'rating-bottles') %></td>
          <td class="text-right" id="percent-of-reviews"><%= percent_of(@sauce.reviews, 3) %>%</td>
        </tr>
        <tr id="2-rating-summary">
          <td id="number">2</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid', id: 'rating-bottles') %></td>
          <td class="text-right" id="percent-of-reviews"><%= percent_of(@sauce.reviews, 2) %>%</td>
        </tr>
        <tr id="1-rating-summary">
          <td id="number">1</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid', id: 'rating-bottles') %></td>
          <td class="text-right" id="percent-of-reviews"><%= percent_of(@sauce.reviews, 1) %>%</td>
        </tr>
      </tbody>
    </table>
    <div class="py-2">
      <%= link_to 'Write a review', new_sauce_review_path(@sauce), id: 'new-review', class: 'btn btn-outline-dark btn-sm btn-block' %>
    </div>
  </div>
  <div class="col-lg-8" id="reviews">
    <h6 class="text-center" id="now-showing">Showing x of x</h6>
    <% @sauce.reviews.each do | review | %>
      <div class="card border-0" id="review">
        <div class="card-body">
          <div class="font-italic py-2" id="user">
            <%= review.user %>
          </div>
          <h5>
            <%= link_to review.headline, sauce_review_path(@sauce.id, review.id), class: 'card-title text-dark' %>
          </h5>
          <div class="align-self-center my-3">
            <%= image_tag('rating_0.svg', width: '100', class: 'img-fluid', id: 'rating-bottles') %>
          </div>
          <div class="card-text" id="body">
            <%= simple_format review.body %>
          </div>
          <div class="card-text d-flex">
            <div class="mr-auto text-muted" id="date">
              <%= review.created_at.strftime("%B %d/%Y") %>
            </div>
            <div class="px-2">
              <%= link_to 'Edit', edit_sauce_review_path(@sauce, review), class: 'text-muted', id: 'edit-review' %>
            </div>
            |
            <div class="px-2">
              <%= link_to 'Delete', [ review.sauce, review ],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'text-muted',
                id: 'delete' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
