<div class="row">
  <div class="col-sm">
    <div class="d-flex justify-content-between py-2">
      <div>
        <%= image_tag('rating_0.svg', width: '100', class: 'img-fluid') %>
      </div>
      <div class="text-muted"><%= average_of(@sauce.reviews) %> out of 5 (<%= pluralize(@sauce.reviews.count, 'review')%>)</div>
    </div>
    <table class="table-borderless table-hover table-sm w-100 my-2">
      <tbody>
        <tr>
          <td>5</td>
          <td class="align-text-center"><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid') %></td>
          <td class="text-right"><%= percent_of(@sauce.reviews, 5) %>%</td>
        </tr>
        <tr>
          <td>4</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid') %></td>
          <td class="text-right"><%= percent_of(@sauce.reviews, 4) %>%</td>
        </tr>
        <tr>
          <td>3</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid') %></td>
          <td class="text-right"><%= percent_of(@sauce.reviews, 3) %>%</td>
        </tr>
        <tr>
          <td>2</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid') %></td>
          <td class="text-right"><%= percent_of(@sauce.reviews, 2) %>%</td>
        </tr>
        <tr>
          <td>1</td>
          <td><%= image_tag('rating_0.svg', width: '75', class: 'img-fluid') %></td>
          <td class="text-right"><%= percent_of(@sauce.reviews, 1) %>%</td>
        </tr>
      </tbody>
    </table>
    <div class="py-2">
      <%= link_to 'Write a review', new_sauce_review_path(@sauce), id: 'new-review', class: 'btn btn-outline-dark btn-sm btn-block' %>
    </div>
  </div>
  <div class="col-lg-8">
    <h6 class="text-center">Showing x of x</h6>
    <% @sauce.reviews.each do | review | %>
      <div class="card border-0" id="review">
        <div class="card-body">
          <div class="font-italic py-2" id="user">
            <%= review.user %>
          </div>
          <h5>
            <%= link_to review.headline, sauce_review_path(@sauce.id, review.id), class: 'card-title text-dark' %>
          </h5>
          <div class="sauce-rating align-self-center my-3", id="rating">
            <%= image_tag('rating_0.svg', width: '100', class: 'img-fluid') %>
          </div>
          <div class="card-text">
            <%= simple_format review.body %>
          </div>
          <div class="card-text d-flex">
            <div class="mr-auto text-muted">
              <%= review.created_at.strftime("%B %d/%Y") %>
            </div>
            <div class="px-2">
              <%= link_to 'Edit', edit_sauce_review_path(@sauce, review), class: 'text-muted' %>
            </div>
            |
            <div class="px-2">
              <%= link_to 'Delete', [ review.sauce, review ],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'text-muted' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
