<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="navbar-brand">[LOGO HERE]</a> -->
  <a class="navbar-brand">
    <%= image_tag 'logo.svg' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="collapsingNavbarLg">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "HOME", home_path, class: active?(home_path) %>
      </li>
      <li class="nav-item">
        <%= link_to "SAUCES", sauces_path, class: active?(sauces_path) %>
      </li>
      <li class="nav-item">
        <%= link_to "ABOUT", about_path, class: active?(about_path) %>
      </li>
      <li class="nav-item">
        <%= link_to "CONTACT", contact_path, class: active?(contact_path) %>
      </li>
    </ul>
    <%= search_form_for @q, class: 'form-inline my-2 my-lg-0', id: 'search-form' do | form | %>
      <%= form.search_field :name_cont, class: 'form-control mr-sm-2', id: 'search-box' %>
      <%= form.submit class: 'btn btn-outline-success my-2 my-sm-0', id: 'submit' %>
    <% end %>
  </div>
</nav>
